.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.container__app {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	justify-content: center;
}
.calculator {
	background-color: var(--calculator);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
	max-width: 300px;
}

.calculator__buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
}

.button {
	background-color: var(--button);
	color: var(--button-text);
	font-size: 25px;
	border: none;
	padding: 15px;
	text-align: center;

	&:hover {
		background: var(--button-hover);
	}
	&:active {
		transform: scale(0.95);
	}
}

.button_highlight {
	background-color: var(--highlight);

	&:hover {
		background: var(--highlight-hover);
	}
}

.button_lowlight {
	background-color: var(--lowlight);

	&:hover {
		background: var(--lowlight-hover);
	}
}

.button--zero {
	grid-column: span 2;
}

.value-input {
	background: var(--calculator);
	padding: 20px;
	border: none;
	font-size: 35px;
	text-align: right;
	color: var(--text);

	&:focus-visible {
		outline: 1px var(--highlight) auto;
	}
	&::placeholder {
		color: var(--text);
	}
}
