:root {
	--highlight: #ff9f0aff;
	--highlight-hover: #ffc11a;
	--lowlight: #535353;
	--lowlight-hover: #616161;
	--text: #ffffff;
	--button: #7d7d7dff;
	--button-hover: #949191;
	--calculator: #454545;
}

[data-theme='dark'] {
	--text-color: #ffffff;
	--background-color: black;
}

body {
	background-color: var(--background-color);
	color: var(--color);
	transition:
		background-color 0.3s,
		color 0.3s;
	font-family: 'Roboto', serif;
}
body,
button {
	font-size: 22px;
}
button {
	cursor: pointer;
	font-family: 'Roboto', serif;
}
