@use './vars.scss';

body {
	background-color: var(--background-color);
	color: var(--color);
	font-family: 'Roboto', serif;
	font-size: 22px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

button {
	font-size: 22px;
	cursor: pointer;
	font-family: inherit;
}
